	<div class="lead">
	    <h1>Tired of lyrics sites that shove ads and popups down your throat?</h1>
	    <h2>Yea, we were too!</h2>
	</div>

    <div class="span-13 append-3">
        <h2>What is Lyricist?</h2>
        
        <p>Lyricists is a <strong>totally free</strong> and <strong>extremely simple</strong> community based Lyrics site. We allow our members to create new lyrics, modify existing lyrics, and discuss the meaning of the lyrics all without having advertisements or popups crammed down your throat like all the other circa 1995 lyrics sites out there. </p>
    </div>

        <h2>How do I get started?</h2>
        
        <p>blah blah blah, do this that and the other thing or heck just take the tour and learn more blah blah this is jsut alg blahe oloteh labhalblah blah blah blabh this that and the other</p>
    </div>


    <div class="span-8 last rail">
        <!-- <img src="/images/create_an_account.png" /> -->

        <%= render :partial => '/shared/login_box' unless logged_in? %>

        <div class="box popular_lyrics">
            <h3>Most Popular Lyrics</h3>
            
            <ul class="lyrics list">
                <li>Stone Temple Pilots - Plush</li>
                <li>Pearl Jam - Evenflow</li>
            </ul>
        </div>	
        
        
        <div class="box latest_lyrics">
            <h3>Latest Lyrics</h3>
            
            <ul class="lyrics list">
                <li class="lyric">Vertical Horizon - Life in the City</li>
                <li class="lyric">Guster - Happier</li>
            </ul>
        </div>	
    </div>
