	<div class="lead">
	    <h1>Tired of lyrics sites that shove ads and popups down your throat?</h1>
	    <h2>Yea, we were too!</h2>
	</div>

    <div class="span-13 append-3 whatis">
        <h3>What is Lyricist?</h3>
        
        <p>
           Lyricists is a <strong>totally free</strong> and <strong>extremly simple</strong> community based Lyrics site. We allow our members to create new lyrics, modify existing lyrics, and discuss
           the meaning of the lyrics all without having advertisements or popups crammed down your throat like all the other circa 1995
           lyrics sites out there. 
        </p>
    </div>


    <div class="span-8 last rail">
        <img src="/images/create_an_account.png" />

        <%= render :partial => '/shared/login_box' unless logged_in? %>

        <div class="box popular_lyrics">
            <h3>Most Popular Lyrics</h3>
            
            <div class="lyrics list">
                <div class="lyric">Stone Temple Pilots - Plush</div>
                <div class="lyric">Pearl Jam - Evenflow</div>
            </div>
        </div>	
        
        
        <div class="box latest_lyrics">
            <h3>Latest Lyrics</h3>
            
            <div class="lyrics list">
                <div class="lyric">Vertical Horizon - Life in the City</div>
                <div class="lyric">Guster - Happier</div>
            </div>
        </div>	
    </div>
