<h1>Editing lyric</h1>

<% form_for(@lyric) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @lyric %> |
<%= link_to 'Back', lyrics_path %>
