<div class="span-16">
      <div class="span-8">    
          <%= render :partial => "shared/list_box", :locals => { :heading => "Popular Songs", :records => @songs } %>
      </div>

      <div class="span-8 last">    
          <%= render :partial => "shared/list_box", :locals => { :heading => "Popular Artists", :records => @artists } %>
          <%= render :partial => "shared/list_box", :locals => { :heading => "Popular Albums", :records => @albums } %>
      </div>
</div>

<div class="span-8 last rail">
	<div class="box gray">
    	<p>most active songs</p>
    	<p>top songs lyrics</p>
    	<p>sidebar goes here</p>
    </div>
</div>
