<div class="span-16">
      <div class="span-8">    
          <%= render :partial => "shared/list_box", :locals => { :heading => "Popular Songs", :records => @songs } %>
      </div>

      <div class="span-8 last">    
          <%= render :partial => "shared/list_box", :locals => { :heading => "Popular Artists", :records => @artists } %>
          <%= render :partial => "shared/list_box", :locals => { :heading => "Popular Albums", :records => @albums } %>
      </div>
</div>

<div class="span-8 last rail">
	<%= render :partial => "shared/generic_module" %>
</div>
