<div class="span-16 body">
    <h1>Artist - Album</h1>
	<h2>
		Song Title
		<% if logged_in? and @lyric.owner == current_user %>
    	    <span><%= link_to 'Edit', edit_user_lyric_path(current_user, @lyric) %></span>
    	<% end %>
	</h2>

    <div class="lyric">
	    <%= @lyric.to_html %>
	</div>

</div>

<div class="span-8 last rail">
	<%= render :partial => "shared/generic_module" %>
</div>
