<div class="span-16 body">
	<h1>Listing artists <%= link_to 'New artist', new_artist_path %></h1>

	<div class="mod artists">
		<div class="bd">
			<ul>
			<% for artist in @artists %>
				  <li>
				    <h2><%= link_to artist.name, artist %></h2>
				    <!-- <%#= link_to 'Edit', edit_album_path(album) %>
				    <%#= link_to 'Destroy', album, :confirm => 'Are you sure?', :method => :delete %> -->
				  </li>
				<% end %>
			</ul>
		</div>
		<div class="ft">
			<%= will_paginate @albums %>
			<p><%= link_to "#{image_tag 'feed-icon-14x14.png'} Subscribe to the RSS feed", formatted_artists_path(:rss), :class => "feed"  %></p>
		</div>
	</div>

</div>

<div class="span-8 last rail">
	<ul class="mod">
		<li><h3>Top 5 lists go here</h3></li>
		<li>item #1</li>
		<li>item #2</li>
		<li>item #3</li>
		<li>item #4</li>
		<li>item #5</li>
	</ul>
</div>
