<div class="span-16 body">
	<h1>Artists</h1>

	<div class="mod artists">
		<div class="bd">
			<ul>
			<% for artist in @artists %>
				  <li>
				    <h2><%= link_to artist.name, artist %></h2>
				  </li>
				<% end %>
			</ul>
		</div>
		<div class="ft">
			<%= will_paginate @albums %>
			<p><%= link_to "#{image_tag 'feed-icon-14x14.png'} Subscribe to the RSS feed", formatted_artists_path(:rss), :class => "feed"  %></p>
		</div>
	</div>

</div>

<div class="span-8 last rail">
    <div class="mod">
    	<div class="bd">
    	    <%= link_to "Add an Artist", new_artist_path %>
    	</div>
    </div>

</div>
