<h2 class="title"><%= @artist.name %></h2>

<div class="span-17">
    <div class="container">
        <div class="span-8">    
            <div class="box list">
                <h3>Albums</h3>
                <div class="items">
                    <% @artist.albums.each do |album| %>
                        <div class="album" id="album-<%= album.id %>">
                            <%= link_to album.name, album_path(album) %>
                        </div>
                    <% end %>
                </div>
                
                <div class="actions">
                    <%= link_to "View All", albums_path %>
                </div>
            </div>
        </div>

        <div class="span-8 last">
            Misc
        </div>
    </div>

    <div class="box">
        <h3>Latest Lyrics</h3>
    </div>
</div>

<div class="span-7 last rail">
	<div class="box gray" style="min-height: 500px">
    	<p>most active songs</p>
    	<p>top songs lyrics</p>
    	<p>sidebar goes here</p>
    </div>
</div>