<div class="users">
    <% @users.each do |user| %>
        <div class="user preview" id="user-<%= user.id %>">
            <img src="/images/users/person_thumb.gif" />

            <div class="span-4 last">
                <h3><%= link_to user.pretty_name, user_path(user) %></h3>
                
                <div class="statistics">
                    <p>Lyrics: <%= user.lyrics.size %></p>
                </div>
            </div>
        </div>
    <% end %>
</div>