<div class="mod">
	<div class="ft">
		<h2>Top 5 list</h2>
	</div>
	<div class="bd">
		<ul>
			<li>list of stuff</li>
			<li>list of stuff</li>
			<li>list of stuff</li>
			<li>list of stuff</li>
			<li>list of stuff</li>
		</ul>
	</div>
	
	<div class="ft">
		<p>footer of module goes here</p>
	</div>

</div>