<div class="mod">
	<div class="ft">
		<h3>Top 5 list</h3>
	</div>
	<div class="bd">
	    <ul>
			<li><a href="#">list of stuff</a></li>
		</ul>
	</div>
	
	<div class="ft">
		<p>footer of module goes here</p>
	</div>

</div>