<div class="span-18">
<h1>Listing songs <%= link_to 'New song', new_song_path %></h1>

<% for song in @songs %>
  
	<li>
		<h2><%= link_to song.title, song_path(song) %></h2>
		<!-- 
		    <#%= link_to 'Show', song %> | <#%= link_to 'Edit', edit_song_path(song) %> | <#%= link_to 'Destroy', song, :confirm => 'Are you sure?', :method => :delete %>
		 -->
	</li>

<% end %>


