<div class="span-16 body">
	<h1>Listing albums 	<%= link_to 'New album', new_album_path %></h1>

	<div class="mod artists">
		<!-- <div class="hd">
			<h1><a href="#">Popular Stories <span class="more">(view more)</span></a></h1>
		</div> -->
		<div class="bd">
			<ul>
				<% for album in @albums %>
				  <li>
				    <h2><%= link_to( h(album.name), albums_path) %>
				    <%= album.artist.name if album.artist %></h2>
				    <!-- <%#= link_to 'Edit', edit_album_path(album) %>
				    <%#= link_to 'Destroy', album, :confirm => 'Are you sure?', :method => :delete %> -->
				  </li>
				<% end %>
			</ul>
		</div>
		<div class="ft">
			<%= will_paginate @albums %>
			<p><a class="feed" href="#"><img alt="RSS feed" src="images/feed-icon-14x14.png"/> Subscribe to the RSS feed</a></p>
		</div>
	</div>

</div>

<div class="span-8 last rail">
	<p>not sure what goes here but leaving some space</p>
</div>
