<h2 class="title"><%= link_to @album.artist.name, @album.artist %> - <%= @album.name %></h2>

<div class="span-17">
    <div class="container">
        <div class="span-9">    
            Need something to put in here
        </div>

        <div class="span-8 last">    
            <div class="span-8 last">
                <%= render :partial => "shared/list_box", :locals => { :heading => "Songs", :records => @album.songs } %>
            </div>
        </div>
    </div>

</div>

<div class="span-7 last rail">
	<div class="box gray" style="min-height: 500px">
    	<p>most active songs</p>
    	<p>top songs lyrics</p>
    	<p>sidebar goes here</p>
    </div>
	
</div>