<div class="span-16 body">
    <h1><%= link_to @album.artist.name, @album.artist %> </h1>

    <div class="span-8">    
        <h2><%= @album.name %></h2>
		<p>information pulled in from last.fm</p>
    </div>
    
    <div class="span-8 last">    
            <%= render :partial => "shared/list_box", :locals => { :heading => "Songs", :records => @album.songs } %>
    </div>

</div>

<div class="span-8 last rail">
    <div class="mod">
    	<div class="bd">
    	    <%= link_to "New #{@album.artist} Album", new_artist_album_path(@album.artist) %>
    	</div>
    </div>
</div>